{{template "base.html" .}}
{{define "body"}}
<div class="grid-x large-12 small-12">
    <table>
    {{range .rooms}}

    <tr>

        <td>
            <a href="/{{.Id}}/timeslotes/0">
        <div class="callout success">
            <h5>Комната: {{.Name}}</h5>
            <p>Нажмите, для просмотра статуса</p>
        </div>
         </a>
        </td>

    </tr>

    {{end}}
</table>

</div>
{{end}}
