{{template "base.html" .}}
{{define "body"}}
<div class="outer">
    <div class="middle">
        <div class="inner">
            <div class="grid-x large-7 small-7 align-center-middle">
                <form method="POST" action="/auth">
                    <table>
                        <tr>
                            <td><h6>Login</h6></td>
                            <td><input name="username" placeholder="you@email.com" type="text"></td>
                        </tr>
                        <tr>
                            <td><h6>Password</h6></td>
                            <td><input name="secret" placeholder="*********" type="password"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="submit" value="Авторизоваться" class="button small"></td>
                        </tr>
                    </table>

                </form>
            </div>
        </div>
    </div>
</div>
{{end}}
