{{template "base.html" .}}
{{define "body"}}
{{$slots := .slots}}
{{$room := .room}}
<div class="grid-x large-12 small-12">
    <table>
        <tr>
            <td><a href="/allrooms" class="button tiny hollow"><h5><b><<</b></h5></a></td>
            <td><h3>{{.room.Name}}</h3></td>
        </tr>
        <tr>
    <td><a href="/{{$room.Id}}/timeslotes/{{.back}}"><</a></td>
<td><input type="date" readonly id="slotDate" value="{{printf "%.10s" .now}}" min="{{printf "%.10s" .now}}" max="2050-12-31"></td>
<td><a href="/{{$room.Id}}/timeslotes/{{.next}}">></a></td>
</tr>
</table>
</div>
<div class="grid-x large-12 small-12">


<table>
    {{range $residx, $resval := $slots}}
    <tr>
        <td>


        {{ if $resval.Free}}
        <a onclick="reqModal({{$room.Id}},{{$resval.Slot.Id}})" href="#">
        <div class="callout success">
            <h5>{{$resval.Slot.Hour}}:00 - {{$resval.Slot.Hour}}:59</h5>
            <p>Нажмите, что-бы зарезервировать</p>
        </div>
         </a>
        {{else}}
        <div class="row callout alert">
            <h5>{{$resval.Slot.Hour}}:00 - {{$resval.Slot.Hour}}:59</h5>
            <p>Зарезервирован: {{$resval.Reservator.Owner.Firstname}} {{$resval.Reservator.Owner.Lastname}}</p>
        </div>
         {{end}}


        </td>
    </tr>
        {{end}}
</table>
</div>
<script src="/static/js/app.js"></script>
{{end}}
