.er-topbar{
height:2.1em;
background:#4A76A8;
color:white;
margin-bottom:2em;
}

.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  /*whatever width you want*/
}

.scrolled_div {
  overflow-y: scroll;
  height: 650px;
}
